body{
	background-color: white;
	text-align: center;
	overflow-x: hidden;	
	background-image: url("True-Mountain.jpg");
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;    
    margin: 0;    
}

input[type=number] {
    -moz-appearance:textfield;
     border-style: solid;
	 border-width: 2px;
	 border-color: black;
	 padding: 8px;
	 width: 20%;


}

 p label{
	display: inline-block;
	width:100px;
	padding:10px;
	text-align: right;
}
 p input{	
	width:100px;
	text-align: center;
}

.boom{
	position:relative;
	margin-left: 6%;
}

.goom{
	position:relative;
	
}

.zoom{
	position:fixed;
	margin-left: 37%;
	
}

header{
	font-size: 20pt;
	color: white;
	font-family: georgia;	
	position: top;
}

#firstDiv{
	margin-top: 5%;
	height: 110%;
	vertical-align: middle;
	width: 80%;
	margin-left: 6%;
	background-color: white,0.3;
	text-align: center;		
	padding-bottom: 20px;	
	}

table{		
		text-align: center;
		position: relative;
		left: 450px;          
        margin-top: 2.5%;
        margin-bottom: 2.5%;
      }
      
td,th{
		border-style: solid;
		border-width: 1px;
		padding: 8px;		
}

 
 #car-main{	
	background-repeat: no-repeat;
	height:50px;
	padding-top: 20%;	
	background-size: 100% 100%;
	width: 100%;
 }

#theFooter p{
	text-align: center;
	color: white; 
	position:fixed;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */   
}
#theFooter a{
	color: red;
}

input[type = "submit"]{
	background-color: white;

}

input[type = "reset"]{
	background-color: white;

}

#createTable{
	color:#6666ff;		
	margin-left:0;
	background-color: #d9d9d9;
	position:middle;
}

#theMaster{

}

