body{
	background-color: white;
	text-align: center;
	overflow-x: hidden;	
	background-image: url("True-Mountain.jpg");
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;    
    margin: 0;    
}

input[type=number] {
    -moz-appearance:textfield;
     border-style: solid;
	 border-width: 2px;
	 padding: 8px;
	 width: 20%;


}

 p label{
	display: inline-block;
	width:100px;
	padding:10px;
	text-align: center;
}
 p input{	
	width:100px;
	text-align: center;
}

.boom{
	position: relative;
	left: 60px;

}

.goom{
	position:relative;
	right: 50px;
}

.zoom{
	position:relative;
	left: 45px;
}

header{
	font-size: 20pt;
	color: white;
	font-family: georgia;	
	position: top;
}

#firstDiv{
	margin-top: 5%;
	height: 110%;
	vertical-align: middle;
	width: 80%;
	margin-left: 10%;
	background-color: white,0.3;
	text-align: center;		
	padding-bottom: 20px;	
	}

table{		
		text-align: center;
		position: relative;
		left: 450px;          
        margin-top: 2.5%;
        margin-bottom: 2.5%;
      }
      
td,th{
		border-style: solid;
		border-width: 1px;
		padding: 8px;		
}

 
 #car-main{	
	background-repeat: no-repeat;
	height:50px;
	padding-top: 20%;	
	background-size: 100% 100%;
	width: 100%;
 }

footer{
	text-align: center;
	color: white;
}

footer a{
	color: red;
}

input[type = "submit"]{
	background-color: white;

}

input[type = "reset"]{
	background-color: white;

}

#createTable{
	color:#6666ff;		
	margin-left: -10%;
	background-color: #cccccc;
}

